<footer class="wrapper">
    <p>
        <small>
            The content of this website is licensed under the <a class="external"
                                                                 href="https://creativecommons.org/licenses/by-sa/4.0/">CC
                BY-SA 4.0</a> license.
            Its source code is available on <a class="external"
                                               href="https://www.github.com/jortvanleenen/jortvanleenen.github.io">GitHub</a>.
        </small>
    </p>
</footer>