<footer class="wrapper">
    <p>
        <small>
            The content on this website is licensed under the
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">
                CC BY-SA 4.0
            </a> license.
            Its source code is available on
            <a href="https://www.github.com/jortvanleenen/jortvanleenen.github.io">
                GitHub
            </a>.
        </small>
    </p>
</footer>