<header class="navbar">
    <header>
        <h1>Jort van Leenen</h1>
        <p>
            <small>
                A computer science practitioner, passionate about the intricacies of foundational principles and
                theoretical
                frameworks and methods.
            </small>
        </p>
    </header>
    {% include navigation.liquid %}
</header>