<header class="navbar">
    <header class="wrapper">
        <h1>Jort van Leenen</h1>
        <p>
            A computer science practitioner, passionate about the intricacies of foundational principles and
            theoretical
            frameworks and methods.
        </p>
    </header>
    {% include navigation.liquid %}
</header>