<header>
    <hgroup>
        <h1>Jort van Leenen</h1>
        <p>A computer science practitioner, passionate about the intricacies of foundational principles and theoretical
            frameworks and methods.</p>
    </hgroup>
    <nav>
        <ul>
            {% assign navigation_pages = site.pages
                    | where_exp: "item", "item.navbar_priority != nil"
                    | sort_natural: "navbar_priority" %}
            {% for navigation_page in navigation_pages %}
                <li>
                    <a href="{{ navigation_page.url }}"
                       class="nav-link{% if navigation_page.url == page.url %} active{% endif %}"
                    >
                        {% if navigation_page.title == nil or navigation_page.title == empty %}
                            {{ navigation_page.name | split: "." | first | capitalize }}
                        {% else %}
                            {{ navigation_page.title }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>