<nav>
    <menu>
        {% assign navigation_pages = site.pages
                | where_exp: "item", "item.navbar_priority != nil"
                | sort_natural: "navbar_priority" %}
        {% for navigation_page in navigation_pages %}
            {% assign navigation_page_title = navigation_page.title | default: navigation_page.name
                    | split: "." | first | capitalize %}
            <li>
                <a href="{{ navigation_page.url }}"
                   data-text="{{ navigation_page_title }}"
                        {% if navigation_page.url == page.url %} class="active"{% endif %}
                >
                    {{ navigation_page_title }}
                </a>
            </li>
        {% endfor %}
    </menu>
</nav>