.head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  margin-inline: auto;

  .head-img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 8rem;
  }

  h1 {
    margin-bottom: .5rem;
  }
}

.primary-nav .nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;

  li a {
    display: inline-flex;
    text-decoration: none;
    transition: font-variation-settings 125ms;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem .5rem;

    &:hover,
    &.active {
      font-variation-settings: 'wght' 600;
    }

    &::after {
      content: attr(data-text);
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      font-variation-settings: 'wght' 600;

      @media speech {
        display: none;
      }
    }
  }
}

@media (max-width: 640px) {
  .head {
    flex-direction: column;
    text-align: center;
  }
}
