:root {
  --primary-color: #333;
  --secondary-color: #fcfcfc;
  --ternary-color: #555;
  --quaternary-color: #ddd;
}

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-variation-settings: 'wght' 400;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fira Code', 'Lucida Console', 'Lucida Sans Typewriter', serif;
  font-variation-settings: 'wght' 650;
}

.navbar {
  text-align: center;
}

menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  li a {
    display: inline-flex;
    text-decoration: none;
    transition: font-variation-settings 125ms;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;

    &:hover,
    &.active {
      font-variation-settings: 'wght' 600;
    }

    &::after {
      content: attr(data-text);
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      font-variation-settings: 'wght' 600;

      @media speech {
        display: none;
      }
    }
  }
}

header p {
  color: var(--ternary-color);
}

aside {
  float: right;
}

small {
  color: var(--ternary-color);
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

dt {
  flex: 1;
  margin: 0;
  padding: 0;
}

dd {
  flex: 1;
  margin: 0;
  padding: 0;
}

hr {
  color: var(--quaternary-color);
}

img {
  max-width: 100%;
  display: block;
}

.about {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
  gap: 20px;
}

.wrapper {
  max-width: 978px;
  margin: 0 auto;
}