---
permalink: /research

navbar_priority: 4
---
<p>
    My research interest lies primarily in the field of theoretical computer science, with a particular focus on the
    applicability of formal methods to real-world problems.
</p>
<h3>Bachelor Thesis <small>(Practical Equivalence Checking of P4 Packet Parsers)</small></h3>
<p>
    <span class="abstract">Abstract</span>
    In computer networks, packets function as structured containers for transmitting information.
    Packet parsers validate these packets in devices like packet switches and firewalls.
    P4 is a domain-specific programming language that can specify such parsers in software-defined networks.
    As with any software system, bugs may be present, or improvements are to be made.
    These subsequent modifications may introduce discrepancies relative to the intended specification.
    To address this, I introduced Octopus, a tool for the practical equivalence checking of packet parsers written in
    P4.
    Here, practical signifies a runtime suitable for execution on a typical, modern personal computer.
    The tool additionally produces a certificate that enables manual verification of the result’s correctness.
</p>
<p>
    <a href="https://theses.liacs.nl/3410">
        An open-access copy of my thesis is available in the LIACS theses repository.
    </a>
</p>
<h3>Publications</h3>
<ul>
    {% for pub in site.data.publications %}
        <li>
            <a href="{{ pub.doi }}">{{ pub.title }}</a>
            {% if pub.badges %}
                {% for badge in pub.badges %}
                    <span class="badge">{{ badge }}</span>
                {% endfor %}
            {% endif %}
            <br>
            <small>
                {% for author in pub.authors %}
                    {% if author.link %}<a href="{{ author.link }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </small>
            <br>
            <small>
                {% if pub.venue_link %}<a href="{{ pub.venue_link }}">{{ pub.venue }}</a>{% else %}{{ pub.venue }}{% endif %}{% if pub.part %}, {{ pub.part }}{% endif %},
                {{ pub.series }}, pp. {{ pub.pages }}, {{ pub.publisher }}, {{ pub.year }}.
                {{ pub.location }}, {{ pub.dates }}.
            </small>
        </li>
    {% endfor %}
</ul>