<!DOCTYPE html>
<html lang="{{ site.lang }}">
{% include head.liquid %}
<body>
{% include header.liquid %}
<main class="wrapper">
    <h2>
        {% if page.title == nil or page.title == empty %}
            {{ page.name | split: "." | first | capitalize }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </h2>
    {{ content }}
</main>
<hr>
{% include footer.liquid %}
</body>
</html>